@font-face {
    font-family: 'Almarena';
    src: url('AlmarenaDisplayRegular.eot');
    src: url('AlmarenaDisplayRegular.eot?#iefix') format('embedded-opentype'),
        url('AlmarenaDisplayRegular.woff2') format('woff2'),
        url('AlmarenaDisplayRegular.woff') format('woff'),
        url('AlmarenaDisplayRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bigilla';
    src: url('BigillaRegular.eot');
    src: url('BigillaRegular.eot?#iefix') format('embedded-opentype'),
        url('BigillaRegular.woff2') format('woff2'),
        url('BigillaRegular.woff') format('woff'),
        url('BigillaRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
