.cols {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100%;
    &__left {
        position: relative;
        width: 195px;
        border-right: 2px solid $dark1;
        
    }
    .center {
        width: calc(100vw - 195px - 195px - 4px);
        position: relative;
    }
    &__right {
        position: relative;
        width: 195px;
        border-left: 2px solid $dark1;
        
    }
}

@media screen and (max-width: $tablet) {
    .cols {
        margin-top: 102px;
        &__left {
            width: 100px;
        }
        &__right {
            width: 100px;
        }
        .center {
            width: calc(100vw - 200px - 4px);
        }
    }
}

@media screen and (max-width: $mobile) {
    .cols {
        margin-top: 60px;
        &__left {
            display: none;
        }
        .center {
            width: auto;
        }
        &__right {
            display: none;
        }
    }
}