.header_wrap {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
  border-bottom: 2px solid $dark1;
  height: 195px;
  overflow: hidden;
  .close-button {
    border-color: $neon;
    .menu__button_flex div {
      background-color: $neon;
    }
    .a2,
    .a4,
    .a6,
    .a8 {
      visibility: hidden;
    }
    &::before {
      background-color: $neon;
    }
    &:hover {
      border-color: $neon;
      &::before {
        width: 4px;
        height: 4px;
        transition-delay: 0s;
        background-color: $neon;
      }
    }
  }
}
.title {
  height: 195px;
  overflow: hidden;
  div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 10;
    background-color: $neon;
  }
  &__title {
    word-wrap: none;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    right: calc(50px + 80px + 100px);
    transform: translateY(-50%);
  }
  &__logo {
    margin-right: 50px;
    margin-left: auto;
    line-height: 0;
    display: block;
    img {
      width: 80px;
      height: 80px;
    }
  }
}

.menu {
  background-color: $neon;
  z-index: 10;
  border-top: 2px solid $dark1;
  position: absolute;
  top: 195px;
  left: 0;
  height: 195px;
  width: 100%;
  &_flex {
    height: 195px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
  }
  &__logo {
    width: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    border-right: 2px solid $dark1;
  }
  &__nav {
    width: calc(100vw - 195px - 195px - 4px);
  }
  &__button {
    width: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid $dark1;
    &_mobile {
      display: none;
    }
    &_wrap {
      cursor: pointer;
      width: 76px;
      height: 76px;
      border-radius: 50%;
      border: 2px solid $dark1;
      transition: 0.7s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $dark1;
        transition: 0.5s ease-in-out;
      }
      &:hover {
        border-color: $white;
        .menu__button_flex {
          transform: rotate(360deg) scale(0);
          .a1 {
            transform: translate(8px, 8px);
          }
          .a2 {
            transform: translate(0, 8px);
          }
          .a3 {
            transform: translate(-8px, 8px);
          }
          .a4 {
            transform: translate(8px, 0);
          }
          .a6 {
            transform: translate(-8px, 0);
          }
          .a7 {
            transform: translate(8px, -8px);
          }
          .a8 {
            transform: translate(0, -8px);
          }
          .a9 {
            transform: translate(-8px, -8px);
          }
        }
        &::before {
          width: 20px;
          height: 20px;
          transition-delay: 0.7s;
          background-color: $white;
        }
      }
    }
    &_flex {
      width: 20px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;

      transition: 0.7s ease-in-out;
      div {
        width: 4px;
        height: 4px;
        margin-right: 4px;
        margin-bottom: 4px;
        border-radius: 50%;
        background-color: $dark1;
        transition: 0.7s ease-in-out;
        &:nth-child(3n) {
          margin-right: 0;
        }
        &:nth-child(n + 6) {
          margin-bottom: 0;
        }
      }
    }
  }
}

.nav {
  font-size: 48px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  &_active {
    color: $neon;
  }
  &__item {
    a {
      transition: color 0.3s ease-in-out;
      &:hover {
        color: $white;
      }
    }
  }
}

.list {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  background-color: $dark1;
  &.hovered {
    .list__background {
      opacity: 0.7;
    }
    .list__item {
      border-color: hsla(0, 0%, 100%, 0.3);
    }
    .list__title {
      color: hsla(0, 0%, 100%, 0.3);
    }
  }
  .swiper-slide {
    width: fit-content;
    &:first-child {
      .list__image {
        justify-content: flex-start;
      }
    }
    &:last-child {
      .list__item {
        border-right: 2px solid $white;
      }
      .list__image {
        justify-content: flex-end;
      }
    }
  }

  &__container {
    height: calc(100vh - 197px);
  }
  &__item {
    width: 192px;
    height: 100%;
    position: relative;
    border-left: 2px solid $white;
    transition: border-color 0.7s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title {
    white-space: nowrap;
    font-size: 64px;
    font-family: $Bigilla;
    font-weight: normal;
    line-height: 1em;
    height: 80%;
    color: $white;
    position: relative;
    text-align: center;
    writing-mode: vertical-lr;
    z-index: 15;
    transform: rotate(180deg);
    transition: color 0.7s ease-in-out;
    a {
      display: block;
    }
    &.hover {
      color: $white !important;
    }
    &:hover {
      & + .list__image {
        img {
          width: 300px;
        }
      }
    }
  }
  &__image {
    position: absolute;
    top: 50%;
    left: 0%;
    display: flex;
    align-items: start;
    justify-content: center;
    transform: translateY(-50%);
    width: 100%;
    height: 525px;
    z-index: 14;
    img {
      height: 100%;
      object-fit: cover;
      width: 0;
      transition: width 1s ease-in-out;
    }
  }

  &__background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 12;
    pointer-events: none;
    background-color: $black;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
  }

  .swiper-container {
    z-index: 14;
  }
}

@media screen and (max-width: $tablet) {
  .header_wrap {
    height: 100px;
  }
  .title {
    height: 100px;
    &__title {
      right: calc(20px + 60px + 20px);
    }
    &__logo {
      margin-right: 20px;
      img {
        width: 60px;
        height: 60px;
      }
    }
  }
  .menu {
    height: 100px;
    top: 100px;
    &_flex {
      height: 100px;
    }
    &__logo {
      width: 100px;
      svg {
        width: 60px;
        height: 60px;
      }
    }
    &__nav {
      width: calc(100vw - 200px - 4px);
    }
    &__button {
      width: 100px;
      &_wrap {
        width: 60px;
        height: 60px;
      }
    }
  }
  .nav {
    font-size: 24px;
    line-height: 1em;
  }
  .list {
    &__container {
      height: calc(100vh - 102px);
    }
    &__item {
      width: 140px;
    }
    &__image {
      width: 100%;
      max-height: calc(100vh - 140px);
    }
  }
}

@media screen and (max-width: $mobile) {
  .nav {
    display: none;
  }
  .header_wrap {
    height: 60px;
  }
  .title {
    height: 60px;
    &__logo {
      img {
        width: 50px;
        height: 50px;
      }
    }
  }
  .menu {
    top: 62px;
    height: 60px;
    &_flex {
      height: 60px;
    }
    &__nav {
      width: calc(100vh - 70px - 70px);
      align-self: flex-end;
    }
    &__logo {
      width: fit-content;
      border-right: none;
      padding-left: 5px;
      padding-right: 15px;
      svg {
        height: 50px;
        width: 50px;
      }
    }
    &__button {
      border-left: none;
      width: fit-content;
      padding-right: 5px;
      padding-left: 15px;
      &_wrap {
        width: 50px;
        height: 50px;
        &::before {
          width: 3px;
          height: 3px;
        }
      }
      &_mobile {
        display: block;
        line-height: 57px;
        cursor: pointer;
      }
      &_flex {
        width: 15px;
        height: 15px;
        div {
          width: 3px;
          height: 3px;
          margin-right: 3px;
          margin-bottom: 3px;
        }
      }
    }
  }
  .list {
    &__container {
      height: calc(100vh - 62px);
    }
    .swiper-slide {
      height: fit-content;
      width: 100%;
      &:first-child {
        .list__image {
          top: 0;
          justify-content: center;
          transform: none;
        }
      }
    }
    &__item {
      border-left: none;
      border-bottom: $white solid 2px;
      width: 100%;
      height: 130px;
    }
    &__title {
      writing-mode: unset;
      font-size: 48px;
      line-height: 1em;
      transform: none;
      white-space: normal;
      height: fit-content;
      width: 85%;
      text-align: left;
    }
    &__image {
      max-height: 50vh;
    }
  }
}
