// Colors
$neon: #07B8BE;
$dark1: #1B1623;
$beige: #B19898;
$light-dark: #47434D;
$white: #ffffff;
$black: #000000;

//Fonts
$Almarena: "Almarena";
$Bigilla: "Bigilla";

//Media
$tablet: 1140px;
$mobile: 650px;
