// Colors
// $neon: #07B8BE;
$neon: #05EFD3;
// $dark1: #1B1623;
$dark1: #26272D;
// $beige: #B19898;
$beige: #D0CBC6;
// $light-dark: #47434D;
$light-dark: #655B51;
$white: #ffffff;
$black: #000000;

//Fonts
$Almarena: "Almarena";
$Bigilla: "Bigilla";

//Media
$tablet: 1140px;
$mobile: 650px;
