@import "vars";
@import "reset";

@import "button";
body {
  font-family: $Almarena, "Tahoma", sans-serif;
  font-size: 180px;
  font-weight: normal;
  line-height: 171px;
  width: 100%;
  color: $black;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 0;
  padding: 0;
}

.neon {
  background-color: $neon;
  color: $dark1;
  .secondary {
    fill: $dark1;
  }
}
.light-dark {
  color: $light-dark;
  background-color: $dark1;
  .menu {
    background-color: $dark1;
  }
  .menu__button_flex div {
    background-color: $light-dark;
  }
  .menu__button_wrap, .cols__left, .cols__right, .menu__logo, .menu__button, header {
    border-color: $light-dark;
  }
  .secondary {
    fill: $light-dark;
  }
  .center__video {
    display: none;

  }
}

@import "header";