.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%;
}

.cols__left {
  position: relative;
  width: 195px;
  border-right: 2px solid #1B1623;
}

.cols .center {
  width: calc(100vw - 195px - 195px - 4px);
  position: relative;
}

.cols__right {
  position: relative;
  width: 195px;
  border-left: 2px solid #1B1623;
}

.portfolio {
  margin-top: 197px;
}

.portfolio .tilt {
  position: absolute;
  top: 0;
  left: 0;
}

.portfolio .cols__right_sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0%;
}

.portfolio .cols__right_sticky_wrap {
  overflow: hidden;
  padding: 40px 0;
  padding-bottom: 20vh;
}

.portfolio .cols__right h2 {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.portfolio__left {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0%;
}

.portfolio__left h2 {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  margin-bottom: 48px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  padding-top: 20vh;
}

.portfolio .center__video {
  max-width: 50%;
  height: auto;
  position: fixed;
  z-index: 1;
  top: calc((100vh - 195px) / 2 + 195px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.portfolio .center__video::before {
  content: "";
  position: fixed;
  width: 101%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #07B8BE;
  mix-blend-mode: multiply;
}

.portfolio .center__video video {
  width: 100%;
  height: auto;
}

.portfolio_wrap {
  position: relative;
  z-index: 2;
}

.portfolio_wrap_2 {
  padding-top: 100vh;
}

.portfolio__item {
  line-height: 0;
  margin: 0 auto 0;
  width: 85%;
  height: calc(100vh - 197px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__item a {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -webkit-box-shadow: 0px -38px 60px rgba(0, 0, 0, 0.45);
          box-shadow: 0px -38px 60px rgba(0, 0, 0, 0.45);
}

.portfolio__template {
  width: 100%;
  height: auto;
  visibility: hidden;
}

.portfolio_pinned a {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.portfolio .scroll {
  margin-bottom: 13px;
}

.portfolio .scroll .button_2 {
  -webkit-animation: scrollBall2 2s infinite alternate ease-in-out;
          animation: scrollBall2 2s infinite alternate ease-in-out;
}

.portfolio .scroll .button_3 {
  -webkit-animation: scrollBall3 2s infinite alternate ease-in-out;
          animation: scrollBall3 2s infinite alternate ease-in-out;
}

.portfolio .scroll .button_4 {
  -webkit-animation: scrollBall4 2s infinite alternate ease-in-out;
          animation: scrollBall4 2s infinite alternate ease-in-out;
}

.portfolio .scroll h4 {
  -webkit-animation: scrollBallTitle 2s infinite alternate ease-in-out;
          animation: scrollBallTitle 2s infinite alternate ease-in-out;
}

.portfolio .all {
  font-size: 24px;
  line-height: 24px;
}

.portfolio .all:hover .button_1, .portfolio .all:hover .button_2, .portfolio .all:hover .button_3, .portfolio .all:hover .button_4 {
  border-color: #07B8BE;
}

.portfolio .all:hover .button_2 {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.portfolio .all:hover .button_3 {
  -webkit-transform: translate(-50%, -50%) scale(0.75);
          transform: translate(-50%, -50%) scale(0.75);
}

.portfolio .all:hover .button_4 {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.portfolio .all:hover h4 {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: #07B8BE;
}

.no-shadow a {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.star {
  width: 154px;
  height: auto;
  max-width: 100%;
  display: block;
  margin: 40px auto;
  -webkit-animation: star 7s infinite alternate;
          animation: star 7s infinite alternate;
}

@-webkit-keyframes star {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes star {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes scrollBall2 {
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.9);
            transform: translate(-50%, -50%) scale(0.9);
  }
}

@keyframes scrollBall2 {
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.9);
            transform: translate(-50%, -50%) scale(0.9);
  }
}

@-webkit-keyframes scrollBall3 {
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.75);
            transform: translate(-50%, -50%) scale(0.75);
  }
}

@keyframes scrollBall3 {
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.75);
            transform: translate(-50%, -50%) scale(0.75);
  }
}

@-webkit-keyframes scrollBall4 {
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.5);
            transform: translate(-50%, -50%) scale(0.5);
  }
}

@keyframes scrollBall4 {
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.5);
            transform: translate(-50%, -50%) scale(0.5);
  }
}

@-webkit-keyframes scrollBallTitle {
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes scrollBallTitle {
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

.art__title {
  white-space: nowrap;
  padding-top: 20px;
}

.art__title_wrap {
  overflow: hidden;
  border-top: 2px solid #47434D;
  border-bottom: 2px solid #47434D;
}

.art__image {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.art__image a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  height: 90%;
}

.art__image img {
  width: 100%;
  height: auto;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.art__right_space {
  height: calc(100vh - 154px - 148px - 30vh);
}

.art__right_sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  padding-top: 148px;
  padding-bottom: 30vh;
}

.art__left_space {
  height: calc(100vh - 154px - 148px - 5vh);
}

.art__left_sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.art__star {
  padding-bottom: 5vh;
  padding-top: 148px;
  overflow: hidden;
}

.art__star svg {
  margin: auto;
  display: block;
  width: 154px;
  max-width: 95%;
  -webkit-animation: starArt 8s infinite alternate ease-in-out;
          animation: starArt 8s infinite alternate ease-in-out;
}

.art .more {
  line-height: 0;
  color: #47434D;
  margin: auto;
}

.art .more .button_1,
.art .more .button_2,
.art .more .button_3,
.art .more .button_4 {
  border-color: #47434D;
}

.art .more:hover .button_1, .art .more:hover .button_2, .art .more:hover .button_3, .art .more:hover .button_4 {
  border-color: #ffffff;
}

.art .more:hover .button_2 {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.art .more:hover .button_3 {
  -webkit-transform: translate(-50%, -50%) scale(0.75);
          transform: translate(-50%, -50%) scale(0.75);
}

.art .more:hover .button_4 {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.art .more:hover h4 {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  color: #ffffff;
}

@-webkit-keyframes starArt {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes starArt {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.who__title {
  white-space: nowrap;
  overflow: hidden;
  border-top: 2px solid #B19898;
  border-bottom: 2px solid #B19898;
}

.who__left {
  overflow: hidden;
}

.who__left h3 {
  padding-bottom: 48px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.who__right_wrap {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.who__right_wrap h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 54px;
}

.text__text {
  font-size: 28px;
  line-height: 40px;
  max-width: 575px;
  margin-right: 10%;
  margin-top: 93px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.text__text p {
  text-indent: 40%;
}

.text .projects {
  color: #B19898;
  font-size: 42px;
  line-height: 42px;
  width: 232px;
  height: 232px;
  margin: 0 60px 54px 6%;
}

.text .projects .button_1, .text .projects .button_2, .text .projects .button_3 {
  border-color: #B19898;
}

.text .projects h4 {
  padding-bottom: 24px;
}

.text .projects svg {
  margin-bottom: 12px;
}

.text .projects path {
  -webkit-transition: fill .5s ease-in-out;
  transition: fill .5s ease-in-out;
}

.text .projects:hover .button_1, .text .projects:hover .button_2, .text .projects:hover .button_3, .text .projects:hover .button_4 {
  border-color: #ffffff;
}

.text .projects:hover .button_2 {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.text .projects:hover .button_3 {
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
}

.text .projects:hover .button_4 {
  -webkit-transform: translate(-50%, -50%) scale(0.4);
          transform: translate(-50%, -50%) scale(0.4);
}

.text .projects:hover h4 {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  color: #ffffff;
}

.text .projects:hover path {
  fill: #ffffff;
}
/*# sourceMappingURL=style.css.map */